@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: rgb(255, 252, 230);
    margin: 0;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
}

@media (max-width: 700px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.main {
    max-width: 1200px;
    
      padding: 2rem 1.5rem 3rem;
      margin: 30px;
      margin-top: 225px;
      display: grid;
      grid-template-columns: 1fr 4fr;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      min-height: 200px;
}
.text1{
    
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: rgba(127, 231, 0, 0.178);
    color: rgb(120, 144, 26);
    font-weight: 700;
    border-bottom: rgba(38, 69, 0, 0.402) solid;
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.49);
}

.photo{
    width: 200px;
    height: 200px;
    padding-top: 15px;
    background-color: rgba(24, 75, 24, 0.262);
    border-radius: 50px;
    border: 5px solid rgba(6, 61, 2, 0.632);
    box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.526);
}

.buton {
      background: linear-gradient(90deg, rgb(10, 110, 84) 40%, rgba(39, 150, 11, 0.634));
      color: rgb(255, 255, 255);
      padding: 15px 35px;
      font-weight: 600;
      font-size: 20px;
      border: none;
      border-radius: 17px;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 0.5rem;
      box-shadow: 3px 4px 15px rgba(0, 0, 0, 0.526);
      transition: all 0.3s ease;
    }

.buton:hover {
        box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6); /* shadow lebih dalam */
        transform: translateY(-3px); /* tombol sedikit terangkat */
        background: linear-gradient(90deg, rgb(79, 208, 165) 40%, rgba(127, 222, 114, 0.7)); /* opsi sedikit lebih terang */
    }


.page1 {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.51);
    padding-left: 0px;
    font-weight: 700;
    font-size: 3.5rem;
    margin: 0;
    line-height: 1.1;
    color: rgb(31, 31, 31);
}

.highlight-1 {
    color: rgb(24, 128, 48);
    font-weight: 700;
}

.highlight-2 {
    color: rgb(51, 120, 88);
    font-weight: 700;
}

.highlight-3 {
    font-size: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    background-color: rgba(111, 199, 157, 0.625);
    color: rgb(51, 85, 69);
    font-weight: 700;
}

.navbar {
    min-width: max-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row, column;


    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(7px);


}

.navbutton {
    border-bottom: 2px solid transparent;
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
    width: max-content;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
}

.navbutton:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: rgb(19, 117, 38);
    border-bottom: 2px solid;
    border-bottom-color: rgb(19, 117, 38);
    
    transition: border-bottom 0.4s;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color: rgb(3, 63, 15);
}
